@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

.grad-border {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 15px;
  background-size: 100% 12px;
  background-image: linear-gradient(to right, #fbdc4d, #fbdc4d);
}

h2.grad-border {
  background-size: 100% 8px;
  background-position: center bottom 10px;
}

.svg-ln {
  width: 32px;
  height: 32px;
  fill: #000;
}

.svg-git {
  width: 42px;
  height: 42px;
  fill: #212121;
}

.svg-ln, .svg-git {
  transition: fill 0.2s ease-in;
}
.svg-ln:hover, .svg-git:hover {
  fill: #fbdc4d;
}

.svg-tg, .svg-vk, .svg-fb, .svg-inst, .svg-wa {
  width: 48px;
  height: 48px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.nav li {
  font-size: 20px;
  font-weight: 600;
}

.nav a {
  position: relative;
  transition: color 0.2s ease-in;
}
.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  height: 2px;
  width: 0;
  background-color: #fbdc4d;
  transition: bottom 0.2s ease-in;
}
.nav a:hover::after {
  width: 100%;
  bottom: -5px;
}

.title {
  font-size: 78px;
  font-weight: 700;
  line-height: 1;
}

.subtitle {
  font-size: 54px;
  font-weight: 700;
}

.subtitle-42px {
  font-size: 42px;
  font-weight: 700;
}

.header-intro {
  z-index: 1;
  position: relative;
}

.header-intro__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-intro__text {
  padding-top: 19px;
  max-width: 542px;
}

.header-intro__title {
  margin-bottom: 30px;
}

.header-intro__desc {
  margin-bottom: 30px;
  max-width: 542px;
}
.header-intro__desc p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 35.2px */
  color: #000;
}
.header-intro__desc p + p {
  margin-top: 15px;
}

.header-intro__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header-intro__buttons > * {
  flex-grow: 0;
}

.header-intro__img {
  box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
}
.header-intro__img img {
  width: 475px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 0 40px;
  height: 64px;
  border-radius: 50px;
  background-color: #eff7fc;
  line-height: 64px;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background: #fbdc4d;
}

.header-banner__img {
  z-index: 0;
  position: relative;
  margin-top: -156px;
}
.header-banner__img img {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 759px;
}

.link {
  position: relative;
  font-size: 22px;
  color: #1a71d2;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 1px;
  background-color: #1a71d2;
  transition: bottom 0.2s ease-in;
}
.link:hover::after {
  bottom: -3px;
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  transition: filter 0.5s ease-in;
}
.socials a:hover {
  filter: contrast(200%);
}

.header-about {
  margin-top: -51px;
  padding-top: 20px;
}

.header-about__content {
  display: flex;
}

.header-about__column:first-child {
  width: 635px;
}
.header-about__column:last-child {
  margin-left: 30px;
}

.header-about__subtitle {
  margin-bottom: 30px;
}

.header-about__skills li {
  font-size: 22px;
}
.header-about__skills li:not(:last-child) {
  margin-bottom: 10px;
}
.header-about__skills li::before {
  content: "—";
  padding-right: 5px;
}

.header-about__socials {
  margin-bottom: 15px;
}

.portfolio-card {
  position: relative;
  top: 0;
  max-width: 350px;
  height: 296px;
  transition: filter 0.2s ease-in;
}
.portfolio-card:hover {
  filter: contrast(1.1) saturate(1.2);
}
.portfolio-card:hover img {
  overflow: hidden;
  border: 1px solid #fbdc4d;
  border-top: -2px;
  transform: scale(1.2);
}
.portfolio-card:first-child, .portfolio-card:nth-child(2) {
  max-width: 540px;
  height: 463px;
}
.portfolio-card:first-child .portfolio-card__img, .portfolio-card:nth-child(2) .portfolio-card__img {
  margin-bottom: 20px;
}
.portfolio-card:first-child img, .portfolio-card:nth-child(2) img {
  width: 540px;
  height: 370px;
}
.portfolio-card:first-child .portfolio-card__text, .portfolio-card:nth-child(2) .portfolio-card__text {
  height: 73px;
}
.portfolio-card:first-child .portfolio-card__title, .portfolio-card:nth-child(2) .portfolio-card__title {
  margin-bottom: 8px;
  font-size: 30px;
}
.portfolio-card:first-child .portfolio-card__desc, .portfolio-card:nth-child(2) .portfolio-card__desc {
  font-size: 20px;
}

.portfolio-card__img {
  margin-bottom: 16px;
  overflow: hidden;
}
.portfolio-card__img img {
  width: 350px;
  height: 220px;
  transition: transform 0.4s ease-in;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-card__text {
  height: 60px;
  overflow: hidden;
}
.portfolio-card__text h3, .portfolio-card__text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.portfolio-card__title {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 600;
}

.portfolio-card__desc {
  font-size: 18px;
}

.header-top__nav {
  margin-top: 63px;
  margin-bottom: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
}

.header {
  padding-top: 20px;
  padding-bottom: 90px;
}

.portfolio {
  background: linear-gradient(0deg, #F5FBFF 0%, #F5FBFF 100%), #F4F8F9;
}

.portfolio__content {
  padding-top: 80px;
  padding-bottom: 90px;
}

.portfolio__title {
  margin-bottom: 65px;
}

.portfolio__cards {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.timeline__content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.timeline__header {
  margin-bottom: 70px;
  text-align: center;
}

.timeline-wrapper {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-item {
  padding-bottom: 60px;
  width: 50%;
  position: relative;
}
.timeline-item::before, .timeline-item::after {
  content: "";
  position: absolute;
}
.timeline-item::before {
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #e1eef4;
}
.timeline-item::after {
  top: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 4px solid #e1eef4;
  background-color: #fff;
}

.timeline-item:last-child::before {
  display: none;
}

/* Нечетные */
.timeline-item:nth-child(odd) {
  padding-right: 56px;
  text-align: right;
}

.timeline-item:nth-child(odd)::before {
  right: -2px;
}

.timeline-item:nth-child(odd)::after {
  right: -17px;
}

/* Четные */
.timeline-item:nth-child(even) {
  margin-left: auto;
  padding-left: 56px;
}

.timeline-item:nth-child(even)::before {
  left: -2px;
}

.timeline-item:nth-child(even)::after {
  left: -17px;
}/*# sourceMappingURL=main.css.map */