/* Mobile */
@media (max-width: 767px) {
    .title {
        font-size: 32px;
    }

    .title.grad-border {
        background-position: center bottom 4px;
        background-size: 100% 8px;
    }

    .timeline-item__title.grad-border {
        background-position: center bottom 1px;
    }

    .header-top .container {
        width: 100%;
    }

    .header-intro__text {
        padding-top: 2px;
    }

    .header-intro__title {
        margin-bottom: 18px;
    }

    .header-intro__content {
        flex-direction: column;
    }

    .header-intro__desc {
        &:nth-child(2) {
            display: none;
        }

        &:last-child {
            display: block;
        }
    }

    .header-intro__img {
        margin-bottom: 10px;
    }
    
    .header-banner {
        margin-top: 0;

        img {
            height: 168px;
        }
    }

    .header-about {
        margin-top: -70px;
    }

    .header-about__subtitle {
        margin-bottom: 21px;
    }

    .header-about__content {
        column-gap: 0;
        flex-direction: column;
    }

    .header-about__column {
        margin-bottom: 30px;
    }

    .header-about__column:first-child {
        width: unset;
    }
    
    .header-about__column:last-child {
        margin-bottom: 0;
    }

    /**** Portfolio ****/
    .portfolio__cards {
        row-gap: 30px;
        column-gap: 0;
    }

    .portfolio-card {
        width: 290px;
        height: 235px;
    }

    .portfolio-card__img  {
        width: 290px;
        height: 180px;

        img {
            width: 290px;
            height: 180px;
        }
    }
    
    .portfolio-card__text {
        height: 45px;
    }

    .portfolio-card:first-child,
    .portfolio-card:nth-child(2) {
        width: 290px;
        height: 235px;
    
        img {
            width: 100%;
            height: 180px;
        }

        .portfolio-card__text {
            height: 58px;
        }

        .portfolio-card__title {
            margin-bottom: 4px;
            font-size: 18px;
        }

        .portfolio-card__desc {
            font-size: 14px;
        }
    }

    /****** Timeline ******/
    .timeline-wrapper {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }
    
    .timeline-item__title {
        font-size: 20px;
    }

    .timeline-item { 
        &:first-child::before, &:first-child::after {
            top: 0;
        }

        p {
            font-size: 14px;
            margin-top: 7px;
        } 
    
        p + * {
            margin-top: 10px;
        }

        p + p {
            margin-top: 7px;
        }
    
    }

     /***** Contacts *****/
    .contacts__row {
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    
    .contacts__list {
    
        li + li {
            margin-top: 10px;
        }
    
        span {
            display: block;
            width: unset;
            font-size: 16px;
        }
    }

    .contacts__text {
        margin-left: 0;

        p + p {
            margin-top: 5px;
        }
    }
    
    /***** Footer *****/
    .footer__copyright {
        width: unset;
    }

    .footer__text {
        p + p {
            margin-top: 15px;
        }
    }
}