@media (max-width: 1139px) {
    .svg-git {
        width: 36px;
        height: 36px;
    }

    .header-top {
        padding-bottom: 60px;
    }

    .nav ul {
        column-gap: 50px
    }

    .nav li {
        font-size: 18px;
    }

    .header {
       padding-top: 0;
       padding-bottom: 0;
    }

    .header-intro__title {
        margin-bottom: 20px;
    }

    .title {
        font-size: 58px;
    }

    .title.grad-border {
        background-position: center bottom 10px;
        background-size: 100% 10px;
    }

    .header-intro__text {
        padding-top: 5px;
        max-width: 420px;
    }
    
    .header-intro__desc {
        margin-bottom: 28px;

        p {
            font-size: 18px;
        }

        p + p {
            margin-top: 10px;
        }
    }

    .button {
        padding-left: 26px;
        padding-right: 26px;
        height: 58px;

        border-radius: 50px;
        line-height: 58px;
        font-size: 20px;
        font-weight: 700;
    }

    .header-intro__img {

        box-shadow: unset;

        img {
            width: 376px;
            height: 325px;
        }
    }

    .header-banner {
        margin-top: -85px;

        img {
            height: 475px;
        }
    }



}
