@media (max-width: 1139px) {
    .header-top__nav {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .nav ul {
        column-gap: 50px
    }

    .nav li {
        font-size: 18px;
    }
}
