.button {
    padding: 0 40px;
    height: 64px;
    border-radius: 50px;
    background-color: $btn-bg;
    line-height: 64px;
    font-size: 20px;
    font-weight: 700;
    color: $btn-text;

    transition: background-color 0.2s ease-in;

    &:hover, &:focus {
        background-color: $btn-bg-hover;
    }

    &:active {
        background-color: $btn-bg-active;
    }

    &--accent {
        background-color: $btn-accent-bg;
    }

    &--accent:hover, &--accent:focus  {
        background-color: $btn-accent-hover;
    }
    
    &--accent:active {
        background-color: $btn-accent-active;
    }
}

