.button {
    padding: 0 40px;
    height: 64px;
    border-radius: 50px;
    background-color: #eff7fc;
    line-height: 64px;
    font-size: 20px;
    font-weight: 700;
    color: #000;

    transition: background-color 0.2s ease-in;

    &--accent {
        background-color: $accent-color;
    }

    &:hover {
        background: #fbdc4d;
    }
}

