.form {
    padding: 50px 62px;
    
    position: relative;
    z-index: 1;
    width: 540px;
    height: 449px;

    box-shadow: 0 20px 100px -10px rgba(160, 206, 237, 0.75);
    background: #fff;
}