.contact-form {
    padding: 50px 62px;
    width: 540px;
    box-shadow: $form-shadow;
    background-color: $form-bg;
}

.contact-form__item {
    position: relative;

    &+& {
        margin-top: 42px;
    }

    &:last-child {
        margin-top: 30px;
    }

    textarea {
        height: 162px;
    }
}

.fake-placeholder {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    font-size: 22px;
    line-height: 1;
    color: $form-placeholder;

    transition: all 0.2s ease-in;
    pointer-events: none;

    &--active {
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: $form-placeholder-active;

        transform: translateY(-100%);
    }

}

.form-input {
    height: 39px;
    width: 100%;
    border-bottom: 2px solid $input-default-border;

    &:active,
    &:focus,
    &:valid {
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        color: $input-text-color;
    }

    &:active,
    &:focus {
        border-bottom-color: $input-active-border;
    }

    // &:valid {
    //     border-bottom-color: $input-muted-border;
    // }
}

.contact-form__success {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
}