.header-banner {
    z-index: 0;
    position: relative;
    margin-top: -156px;

    img {
        margin: 0 auto;
        object-fit: cover;
        height: 759px;
        pointer-events: none;
    }
}
