.header-about {
    margin-top: -111px;
    padding-top: 80px;
}

.header-about__content {
    display: flex;
}

.header-about__column {
    
    &:first-child {
        width: 635px;
    }

    &:last-child {
        margin-left: 30px;
    }
}

.header-about__subtitle {
    margin-bottom: 30px;
}

.header-about__skills li {
    font-size: 22px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &::before {
        content: "\2014";
        padding-right: 5px;
    }
}

.header-about__socials {
    margin-bottom: 15px;
}
