.link {
    position: relative;
    font-size: 22px;
    color: $link-color;
    transition: color 0.2s ease-in;
    
    &:hover {
        color: #ff543e;
    }
}

.link-muted {
    text-decoration: underline;
    color: #fff;
}