.nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 100px
}

.nav li {
    font-size: 20px;
    font-weight: 600;
}

.nav a {
    position: relative;
    transition: color 0.2s ease-in;

    &::after {
        position: absolute;
        left: 0;
        bottom: -10px;

        content: "";
        height: 2px;
        width: 0;
        background-color: $accent-color;
        transition: bottom 0.2s ease-in;
    }

    &:hover::after {
        width: 100%;
        bottom: -5px;
    }
}
