.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px
}

.nav li {
    font-size: 20px;
    font-weight: 600;
}

.nav a {
    transition: color 0.2s ease-in;
    color: #000;

    &:hover {
        color: #ff543e;
    }
}

