.portfolio-card {
    position: relative;
    max-width: 350px;
    height: 296px;
    color: $black-color;

    &:first-child,
    &:nth-child(2) {
        max-width: 540px;
        height: 463px;

        .portfolio-card__img {
            margin-bottom: 20px;
        }

        img {
            width: 540px;
            height: 370px;
        }

        .portfolio-card__text {
            height: 73px;
        }

        .portfolio-card__title {
            margin-bottom: 8px;
            font-size: 30px;
        }

        .portfolio-card__desc {
            font-size: 20px;
        }

    }

}

.portfolio-card:hover {

    .portfolio-card__img::before {
        transform: translateY(0);
    }

    .portfolio-card__title {
        color: #ff543e;
    }

    .portfolio-card__img span {
        z-index: 3;
        opacity: 1;
    }
}

.portfolio-card__img {
    margin-bottom: 16px;

    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        z-index: 2;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        transition: transform 0.2s ease-in;

        background-color: rgba(255, 221, 85, 0.75);
    }

    img {
        width: 350px;
        height: 220px;
        transition: transform 0.4s ease-in;
        pointer-events: none;

        object-fit: cover;
    }
}

.portfolio-card__img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;

    display: inline-block;
    padding: 14px 20px;
    border-radius: 80px;
    background-color: #ef6857;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    opacity: 0;
}

.portfolio-card__text {
    height: 60px;
    overflow: hidden;

    h3,
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}

.portfolio-card__title {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 600;

    transition: color 0.2s ease-in;

}

.portfolio-card__desc {
    font-size: 18px;
}