.portfolio-card {
    position: relative;
    max-width: 350px;
    height: 296px;
    color: $black-color;
    transition: filter 0.2s ease-in;

    &:hover {
        .portfolio-card__img::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgba(255, 221, 85, 0.75);
        }

        .portfolio-card__img span {
            display: block;

            &::after {
                z-index: -1;
                position: absolute;
                content: "";
                left: 50%;
                top: -50%;
                transform: translateX(-50%);

                width: 208px;
                height: 51px;
                border-radius: 80px;
                background-color: #ef6857;
            }

        }

        .portfolio-card__title {
            line-height: 1.3;
            color: #ff543e;
        }
    }

    &:first-child,
    &:nth-child(2) {
        max-width: 540px;
        height: 463px;

        .portfolio-card__img {
            margin-bottom: 20px;
        }

        img {
            width: 540px;
            height: 370px;
        }

        .portfolio-card__text {
            height: 73px;
        }

        .portfolio-card__title {
            margin-bottom: 8px;
            font-size: 30px;
        }

        .portfolio-card__desc {
            font-size: 20px;
        }

    }

}

.portfolio-card__img {
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;

    img {
        width: 350px;
        height: 220px;
        transition: transform 0.4s ease-in;
        pointer-events: none;

        object-fit: cover;
    }

    span {
        display: none;
    }
}

.portfolio-card__img span {
    z-index: 1;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}

.portfolio-card__text {
    height: 60px;
    overflow: hidden;

    h3,
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}

.portfolio-card__title {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 600;

    transition: color 0.2s ease-in;

}

.portfolio-card__desc {
    font-size: 18px;
}