.socials {
    display: flex;
    align-items: center;
    column-gap: 30px;

    a {
        transition: opacity 0.2s ease-in;

         &:hover, &:active, &:focus {
            opacity: 0.75;
        }
    }

}