.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    transition: filter 0.2s ease-in;

    a:hover {
        filter: contrast(200%);
    }
}