.contacts {
    padding-top: 70px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #f5fbff 0%, #f5fbff 100%), #f4f8f9;
    overflow: hidden;
}

.contacts__header {
    margin-bottom: 60px;
    text-align: center;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
}

.contacts__list {
    margin-bottom: 34px;
    line-height: 1.6;

    li+li {
        margin-top: 22px;
    }

    span {
        display: inline-block;
        width: 103px;
        font-size: 22px;
        font-weight: 600;
    }

    a {
        margin-left: 85px;
    }
}

.contacts__text {
    margin-bottom: 32px;
    width: 538px;

    font-size: 18px;
    line-height: 1.6;
    /* 28.8px */

    p+p {
        margin-top: 8px;
    }
}