.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #333;

    a {
        text-decoration: underline;
        color: #fff;
    }
}

.footer__copyright {
    width: 825px;

    font-size: 16px;
    line-height: 1.5; /* 24px */
}

.footer__date {
    margin-bottom: 10px;

    line-height: 1.4; /* 22.4px */
    color: #fff;
}

.footer__text {
    color: #b0b0b0;
}


