.header-top__nav {
    padding-top: 63px;
    padding-bottom: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__social {
    display: flex;
    align-items: center;
    column-gap: 26px;
}