.portfolio {
    padding-top: 80px;
    padding-bottom: 90px;
    background: $portfolio-bg;
}

.portfolio__title {
    margin-bottom: 65px;
}

.portfolio__cards {
    display: flex;
    column-gap: 30px;
    row-gap: 50px;
    flex-wrap: wrap;
}